{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/habits/habit-detail.css' %}"
/>
{% endblock %}

{% block content %}
  
<div class="card">
  <h2>{{ habit.habit }}</h2>
  <p>{{ habit.category }}</p>
  <p>{{ habit.description }}</p>
  <p>Current Streak: {{ habit.current_streak }} days</p>
  <p>Best Streak: {{ habit.best_streak }} days</p>
</div>
<form action="{% url 'increase-streak' habit.id %}" method="post">
  {% csrf_token %}
  <button type='submit'>Increase my streak</button>
</form>
<button>I broke my streak 😞 reset this habit's streak to one.</button>
<a href="{% url 'habit-update' habit.id %}">Edit</a>
<a href="{% url 'habit-delete' habit.id %}">Delete</a>

{% endblock %}