{% extends 'base.html' %}
{% load static %}

{% block head %}
<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}
  <div class="form-container">
    <dotlottie-player src="https://lottie.host/79f6ca5e-f182-4ce5-a2a5-5e7388ac8133/6qi4gbADI7.json" background="transparent" speed="1" loop autoplay class="form-animation"></dotlottie-player>
    <form action="" method="post" autocomplete="off" class="form add">
      {% csrf_token %}
      {% if habit %}
        <h1 class="header">Edit this Habit</h1>
      {% else %}
        <h1 class="header">Add a New Habit</h1>
      {% endif %}
      <table>
        {{ form.as_table }}
      </table>
      <button type="submit" class="btn submit">Submit!</button>
    </form>
  </div>

{% endblock %}