.card {
  border-radius: 10px;
  background-image: linear-gradient(to right top, #228b22, #008d59, #008b80, #008697, #327f9b);
  box-shadow: 5px 5px 6px -1px #AAA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin-top: 30px;
}

.btn-a {
  background-color: white;
}

.detail-btn {
  margin-top: 10px;
}

.btn-container {
  margin: 20px 0px;
}