.section-container {
  margin-top: 30px;
}

.habit-card {
  height: 400px;
  width: 250px;
  border-radius: 10px;
  background-image: linear-gradient(to right top, #228b22, #008d59, #008b80, #008697, #327f9b);
  box-shadow: 5px 5px 6px -1px #AAA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

a {
  text-decoration: none;
  color: var(--color4)
}