.section-container {
  margin-top: 30px;
  text-align: center;
}

.habit-card {
  height: 400px;
  width: 250px;
  border-radius: 10px;
  background-image: linear-gradient(to right top, #228b22, #008d59, #008b80, #008697, #327f9b);
  box-shadow: 5px 5px 6px -1px #AAA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

a {
  text-decoration: none;
  color: var(--color1);
}

.a {
  color: white;
  border-bottom: 2px solid var(--color1);
}

.a:hover {
  color: var(--color1);
  border-bottom: 2px solid var(--color3);
}