{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Habitual</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap" rel="stylesheet">
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li><a href="{% url 'home' %}"><img src="{% static 'images/logo.svg' %}" alt="The habitual logo." id="logo"></a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="{% url 'habit-index' %}">All Your Habits</a></li>
          <li><a href="{% url 'habit-create' %}">Add a New Habit</a></li>
          <li><a href="{% url 'logout' %}">Log Out</a></li>
        {% else %} 
          <li><a href="{% url 'home' %}"><img src="{% static 'images/logo.svg' %}" alt="The habitual logo." id="logo"></a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="{% url 'home' %}">Log In</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>