{% extends "base.html" %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

{% endblock head %}

{% block content %}
<section class='section' id='home'>
  <h1 class="header title">Sustainable growth made easy</h1>
  <div class="section-container">
    <lottie-player src="{% static 'animations/home.json' %}" background="##FFFFFF" speed="1" loop autoplay direction="1" mode="normal" class='animation'></lottie-player>
    {% if not user.is_authenticated %}
      <form action="{% url 'home' %}" method="post" class="login">
        <h1>Login</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit" class="btn submit">Login</button>
      </form>
    {% endif %}
  </div>
  <h3 class="header subtitle">They say it takes 30 days to form a habit. Accountability is the hardest part. Habitual is here to help.</h3>
</section>

<section class='section' id='about'>
  <div class="about-card">
    <h1 class="header subtitle">About Habitual</h1>
    <p class="text ">We all have those things that we know we should be doing but we're not. Maybe you aren't flossing twice a day. Maybe you're not practicing your sport enough. Or maybe you want to pick up a new hobby but are finding it difficult to add to your routine. Whatever the case, we've got you. Here at Habitual, we can provide the accountability and tracking needed to make those activities automatic.</p>
    <h1 class="header subtitle">About the author</h1>
    <p class="text ">Hi there, friend! My name is Nate Sobeck and I'm a full-stack devloper, hobbyist, and workout enthusiast. As someone with a lot of interests, it is sometimes hard to fit it all in. I need someone or something to be accountable to. So, Habitual was born to help me stay motivated and on track. I hope that it can help you too!</p>
  </div>
</section>
<section id="contact">
  <h3 class="header subtitle">Connect with me</h3>
  <div class="contact-card">
    <a href="https://github.com/natesobeck/"><img src="{% static 'images/github.svg' %}" alt="GitHub logo" class='icon'></a>
    <a href="https://www.linkedin.com/in/n-sobeck/"><img src="{% static 'images/linkedin.svg' %}" alt="LinkedIn logo" class='icon'></a>
    <a href="mailto: nsobeck910@gmail.com"><img src="{% static 'images/email.png' %}" alt="Email icon" class='icon'></a>
  </div>
</section>

{% endblock content %}