{% extends "base.html" %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

{% endblock head %}

{% block content %}
<section class='section' id='home'>
  <h1>Quick easy accountable growth</h1>
  <lottie-player src="https://lottie.host/d0dfea6b-3514-424e-9420-8685168efef5/mew2lGDdTf.json" background="##FFFFFF" speed="1" loop autoplay direction="1" mode="normal"></lottie-player>
  <h3>They say it takes 30 days to form a habit. Accountability is the hardest part. Habitual is here to help.</h3>
  {% if not user.is_authenticated %}
    <form action="{% url 'home' %}" method="post" class="login">
      <h1>Login</h1>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}">
      <button type="submit" class="btn submit">Login</button>
    </form>
  {% endif %}
</section>

<section class='section' id='about'>
  <h1>This is the about section</h1>
</section>

{% endblock content %}