html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
/* :root {
  font-size: 62.5%
} */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  --color1: #F06955;
  --color2: #FBF0DC;
  --color3: #4897b3;
  --color4: #3E3563;
  --color5: #fff49b;
  background-color: var(--color4);
  color: white;
}

header {
  width: 100%;
  background-color: var(--color3);
}

nav a {
  font-size: 18px;
  text-decoration: none;
  color: white;
}

nav a:hover {
  cursor: pointer;
  color: var(--color1);
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  padding-right: 20px;
}

nav li {
  padding: 10px;
}

.btn {
  padding: 8px 16px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
}

#logo {
  height: 40px;
  border-radius: 4px;
  position: absolute;
  left: 30px;
  top: 18px;
}
