html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
/* :root {
  font-size: 62.5%
} */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  --color1: #ff6952;
  --color2: #FBF0DC;
  --color3: #327f9b;
  --color4: #4a33a9;
  --color6: #3E3563;
  --color5: #fff49b;
  --smfont: .8em;
  --mdfont: 1em;
  --lfont: 1.9em;
  --xlfont: 2.5em;
  --xxlfont: 3.5em;
  background-image: url(../images/liquid-cheese.svg);
  background-position: center;
  background-size: cover;
  color: white;
  font-family: 'Merriweather', serif;
}

header {
  width: 100%;
  background-image: linear-gradient(to right top, #228b22, #008d59, #008b80, #008697, #327f9b);
}

nav {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: var(--smfont);
}

.dropdown.active > .nav-opener,
.nav-opener:hover {
  cursor: pointer;
  color: var(--color1);
  list-style: none;
}

.nav-content {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  flex-wrap: wrap;
  width: calc(100% + .25rem);
  gap: 10px;
}

.nav-content a {
  color: var(--color5);
  font-size: var(--mdfont);
}

.nav-content a:hover {
  color: var(--color1)
}

.btn {
  padding: 8px 16px;
  border-radius: 10px;
  border-width: 2px;
  border-style: none;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
}

#logo {
  height: 30px;
  border-radius: 4px;
  position: absolute;
  left: 15px;
  top: 18px;
}

input, textarea {
  font-family: inherit;
  border-radius: 3px;
  border-style: none;
}

.submit {
  background-image: linear-gradient(to left bottom, #05b2dc, #15a4cd, #1d96be, #2288af, #247ba0);
  color: white;
}

.submit:hover {
  cursor: pointer;
  background-image: linear-gradient(to left bottom, #04ceff, #1db8e6, #26a2cd, #298db5, #2a799c);
}

.edit {
  background-image: linear-gradient(to left bottom, #33bbc5, #46c6c6, #5bd1c6, #6fdcc6, #85e6c5);
  color: white;
}

.edit:hover {
  background-image: linear-gradient(to left bottom, #50c4cc, #6cd3d2, #86e2d8, #a0f0df, #b9ffe7);
}

.delete {
  color: white;
  background-image: linear-gradient(to left bottom, #b02f1d, #bf2b22, #cd2428, #dd192f, #ec0037);
}

.delete:hover {
  background-image: linear-gradient(to left bottom, #bd2d19, #cd2920, #dd2328, #ee1831, #ff003b);
}

.reset {
  background-image: linear-gradient(to left bottom, #951fb9, #9c3dc0, #a354c6, #aa68cc, #b17bd1);
  color: white;
}

.reset:hover {
  background-image: linear-gradient(to left bottom, #8a1cab, #993cbb, #a856cb, #b76edb, #c686eb);
}

.confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right top, #228b22, #008d59, #008b80, #008697, #327f9b);
  margin: 20px 10px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.confirm button, .confirm a {
  margin: 0px 10px;
}

.header {
  color: var(--color5);
  padding: 0px 10px;
}

.confirm-header {
  margin-top: 0px 20px;
  padding: 0px 10px;
  text-align: center;
}

.animation {
  width: 80%;
  max-width: 100vh;
  min-width: 375px;
}

.category-icon {
  height: 100px;
}

.category-icon-l {
  height: 150px;
}

.title {
  font-size: var(--lfont)
}

.subtitle {
  font-size: var(--mdfont)
}

.text {
  font-size: var(--smfont)
}

.dropdown {
  position: relative;
  margin-right: 20px;
  background-image: linear-gradient(to right top, #228b22, #008d59, #008b80, #008697, #327f9b);
}

.dropdown button {
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
  color: var(--color5);
  font-size: 20px;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: calc(100% + .25rem);
  background-image: linear-gradient(to right top, #228b22, #008d59, #008b80, #008697, #327f9b);
  padding: .75rem;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  z-index: 1;
}

.dropdown.active > .nav-opener + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.btn-active {
  transform: rotate(-90deg);
  transition: transform 150ms ease-in-out;
}

.btn-inactive {
  transition: transform 150ms ease-in-out;
}

.nav-arrow {
  height: 25px;
}