.section {
  min-height: 100vh;
}

#home, .about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about {
  background-color: var(--color1);
}

.icon {
  height: 40px;
  margin: 0px 5px;
}

.contact-card {
  display: flex;
  align-items: center;
  justify-content: center;
}