{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/habits/index.css' %}"
/>
{% endblock %}

{% block content %}

<section>
  {% for habit in habits %}
  <a href="{% url 'habit-detail' habit.id %}">
    <div class="habit-card">
      <h1>{{ habit.habit }}</h1>
      <h3>{{ habit.category }}</h3>
      {% if habit.current_streak == 0 %}
        <h3>You haven't begun training this habit.</h3>
      {% elif habit.current_streak == 1 %}
        <h3>{{ habit.current_streak }} day down.</h3>
      {% elif habit.current_streak > 1 %}
        <h3>{{ habit.current_streak }} days down.</h3>
      {% endif %}
    </div>
  </a>
  {% endfor %}
</section>

{% endblock %}